.countdown__heading {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding-top: 5px;
}

@media screen and (max-width: 860px) {
    .countdown__heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    .countdown__heading {
        font-size: 18px;
    }
}