.root {
    font-family: sofia-pro, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smooth: grayscale;
    overflow-x: hidden;
}

@media screen and (max-width: 640px) {
    .root {
        padding-top: 75px;
    }
}

@media screen and (max-width: 480px) {
    .root {
        padding-top: 100px;
    }
}