.footer {
    align-items: center;
}

@media screen and (max-width: 860px) {
    .footer {
        flex-direction: row;
    }
}

@media screen and (max-width: 510px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
}