.calculator__field {
    padding: 18px 25px;
    border-radius: 15px;
    border: 1px solid #EFA30E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    box-sizing: border-box;
    outline: none;
    color: #EFA30E;
    margin-right: 15px;
    background-color: transparent;
}

.calculator__field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.calculator__field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media screen and (max-width: 1024px) {
    .calculator__field {
        font-size: 18px;
        line-height: 28px;
    }
}