.numbers-list {
    display: grid;
    list-style: none;
    width: 100%;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 10px 0 0;
}

@media screen and (max-width: 1024px) {
    .numbers-list {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
    }
}