.header__content {
    max-width: 42%;
}

@media screen and (max-width: 1024px) {
    .header__content {
        z-index: 2;
        max-width: 50%;
    }
}

@media screen and (max-width: 860px) {
    .header__content {
        display: flex;
        max-width: 100%;
        justify-content: flex-start;
    }
}